.btnAdd {
  background: #fff;
  border: 1px solid #f2f2f2;
  transition: background 0.5s ease-in-out;
  &:hover {
    background: darken($color: #fff, $amount: 1%);
  }
}
.btn {
  cursor: pointer;
  width: rem(32);
  height: rem(32);
  border-radius: rem(8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnCheck {
  background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
}

.btn-remove {
  background: #fff;
  border: 1px solid #dbdbdb;
  opacity: 0.5;
  padding: rem(8);
  transition: opacity ease-in-out;
  &:hover {
    opacity: 1;
  }
}
